@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/jpg/background_center.jpg") repeat;
}

.content {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #252525;
  font-size: 14px;
  line-height: 16px;
}

.container {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 10px;
}

.title-page__top {
  background: url("../img/jpg/footer.jpg") repeat;
  height: 130px;
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title-page__title {
  font-family: Bitter;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.title-page__top-text {
  font-family: Bitter;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #d1d0d0;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__topbar {
  background: url("../img/jpg/top_bar.jpg") repeat;
  height: 50px;
}
.header__icons {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon {
  margin-left: 20px;
}
.header__icon a img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__icon a img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.header__navbar {
  background: url("../img/jpg/nav_bar.jpg") repeat;
}
.header__navbar-row {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__left:before {
  position: absolute;
  content: "";
  top: -10px;
  left: 10px;
  width: 34px;
  height: 34px;
  background-color: #ea5a4b;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: Bitter;
  font-size: 24px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header__logo-text {
  font-family: Bitter;
  font-size: 24px;
  line-height: 16px;
  color: #252525;
  padding-left: 55px;
}
.header__logo-text span {
  color: #ea5a4b;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__link {
  margin-left: 30px;
}
.header__link:first-child {
  margin-left: 0px;
}
.header__link a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #252525;
}
.header__link a:hover {
  color: #ea5a4b;
}

.header__link.active_html a {
  color: #ea5a4b;
  font-size: 20px;
}

.header__photo {
  background: url("../img/jpg/blog/blog_top.jpg") no-repeat;
  width: 100%;
  min-width: 100%;
  height: 151px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 500px) {
  .header__link {
    margin-left: 15px;
  }
  .header__link a {
    font-size: 12px;
  }
  .header__link.active_html a {
    font-size: 16px;
  }
  .header__logo-text {
    display: none;
  }
  .header__logo {
    top: -8px;
    left: 20px;
  }
  .header__left:before {
    position: absolute;
    content: "";
    top: -17px;
    left: 5px;
    width: 34px;
    height: 34px;
    background-color: #ea5a4b;
  }
}
@media (max-width: 350px) {
  .header__logo {
    display: none;
  }
  .header__left:before {
    display: none;
  }
  .header__link {
    margin-left: 20px;
  }
}
.swiper {
  background-color: #f9f9f9;
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
  min-height: 100%;
  width: 100%;
  z-index: 3;
}
.swiper__block {
  position: absolute;
  display: block;
  top: 100px;
  left: 40px;
  width: 335px;
  z-index: 2;
}
.swiper__title {
  display: inline-block;
  line-height: 43px;
  opacity: 0.74;
  background-color: #000000;
  font-family: Bitter;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3px;
  padding: 0 10px;
}

.swiper-button-preRR {
  position: absolute;
  top: 165px;
  left: 0;
  background-color: #ea5a4b;
  width: 32px;
  height: 30px;
}

.swiper-button-nexTT {
  position: absolute;
  top: 165px;
  left: 40px;
  background-color: #ea5a4b;
  width: 32px;
  height: 30px;
}

.swiper-button-preRR span,
.swiper-button-nexTT span {
  position: relative;
}

.swiper-button-preRR span:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;
  background-color: #fff;
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swiper-button-nexTT span:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 16px;
  background-color: #fff;
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.swiper-button-preRR span:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  background-color: #fff;
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.swiper-button-nexTT span:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  background-color: #fff;
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__block {
  position: absolute;
  height: 130px;
  width: 100%;
  bottom: -30px;
  left: 0;
  z-index: 2;
}

.slider__block img {
  height: 130px;
  width: 100%;
}

.image-slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  text-align: center;
}

.image-mini-slider {
  position: absolute;
  left: 5%;
  bottom: -5px;
  z-index: 8;
  width: 90%;
}
.image-mini-slider__slide {
  text-align: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.image-mini-slider__slide.swiper-slide-thumb-active {
  opacity: 1;
}
.image-mini-slider__slide.swiper-slide-thumb-active img {
  border: 2px solid #d65548;
}
.image-mini-slider__image {
  position: relative;
  cursor: pointer;
  max-width: 100%;
}
.image-mini-slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 75px;
  height: 75px;
}

@media (max-width: 850px) {
  .image-mini-slider__image img {
    max-width: 100%;
    max-height: 100%;
    width: 55px;
    height: 55px;
  }

  .slider__block {
    height: 90px;
  }

  .slider__block img {
    height: 80px;
  }
}
@media (max-width: 620px) {
  .image-mini-slider__image img {
    max-width: 100%;
    max-height: 100%;
    width: 30px;
    height: 30px;
  }

  .slider__block {
    height: 70px;
  }

  .slider__block img {
    height: 60px;
  }
}
@media (max-width: 800px) {
  .swiper__title {
    line-height: 35px;
    font-size: 18px;
  }
  .swiper__block {
    top: 50px;
  }

  .swiper-button-preRR {
    top: 125px;
  }

  .swiper-button-nexTT {
    top: 125px;
  }
}
@media (max-width: 600px) {
  .swiper__title {
    line-height: 30px;
    font-size: 16px;
  }
  .swiper__block {
    top: 20px;
    width: 270px;
  }

  .swiper-button-preRR {
    top: 105px;
  }

  .swiper-button-nexTT {
    top: 105px;
  }
}
@media (max-width: 460px) {
  .swiper__title {
    line-height: 20px;
    font-size: 14px;
  }
  .swiper__block {
    top: 10px;
    left: 10px;
    width: 300px;
  }

  .swiper-button-preRR {
    top: 45px;
  }

  .swiper-button-nexTT {
    top: 45px;
  }
}
.center {
  position: relative;
  z-index: 2;
}
.center__row {
  padding: 70px 0 0 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.center__row:after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -25px;
  height: 25px;
  width: 100%;
  max-width: 940px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.center__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}
.center__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 40px;
}
.center__item:last-child {
  margin-right: 0px;
}
.center__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.center__logo {
  position: relative;
}
.center__logo img {
  position: absolute;
  top: 7px;
  left: 7px;
}
.center__logo span {
  position: absolute;
  content: "";
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background-color: #25282a;
}
.center__title {
  font-family: Bitter;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #252525;
  padding: 5px 0 0 50px;
}
.center__text {
  display: block;
  max-width: 265px;
  font-family: "arial";
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
  padding: 20px 0 0 0;
  text-align: justify;
}
.center__slogan {
  display: inline-block;
  font-family: Bitter;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #252424;
  margin: 50px 0;
  text-align: center;
}
.center__slogan span {
  font-weight: 700;
  color: #ffffff;
  width: 127px;
  height: 38px;
  background-color: #ea5a4b;
  padding: 10px;
}

.center__tabs {
  padding: 0 0 0 25px;
}
.tab {
  display: none;
  text-align: center;
}

.tab a {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tab a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 206px;
  height: 120px;
  margin: 5px;
}

.tab.is-active {
  display: block;
}

.tabs__content {
  padding: 25px 25px 0 0;
  position: relative;
}

.tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.tabs-nav__item {
  display: inline-block;
  font-family: Bitter;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #252525;
  cursor: pointer;
  padding: 10px;
}
.tabs-nav__item.is-active {
  color: #ffffff;
  background-color: #ea5a4b;
}

@media (max-width: 600px) {
  .center__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 20px 0;
  }
  .center__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0px;
  }
  .center__item-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
}
@media (max-width: 425px) {
  .tabs-nav__item {
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
  }
}
.footer {
  position: relative;
  background: url("../img/jpg/footer.jpg") repeat;
  border-top: 10px solid #ea5a4b;
  z-index: 0;
}
.footer__row {
  margin-top: 70px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__posts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__post a {
  font-family: Bitter;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #adadad;
  border-bottom: 1px solid #3b3b3b;
  display: block;
  padding: 10px 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.footer__post a:hover {
  font-size: 18px;
  color: #fff;
}
.footer__posts a:last-child {
  border-bottom: none;
}
.footer__title {
  font-family: "arial";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.footer__text {
  font-family: "arial";
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #adadad;
  text-align: justify;
}
.footer__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}
.footer__links a img {
  width: 30px;
  height: 31px;
  border-radius: 5px 8px 10px 8px;
  padding: 0 5px 5px 0;
}

@media (max-width: 950px) {
  .footer__posts {
    margin-right: 20px;
  }
  .footer__about {
    margin-right: 20px;
  }
}
@media (max-width: 650px) {
  .footer__posts {
    margin-right: 0px;
  }
  .footer__about {
    margin-right: 0px;
  }
  .footer__row {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__title {
    text-align: center;
    padding-top: 20px;
  }
  .footer__media {
    margin-bottom: 10px;
  }
}
.blog {
  margin-top: -30px;
  margin-bottom: -35px;
  position: relative;
  z-index: 2;
}
.blog__title-article {
  font-family: Bitter;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  padding: 25px 0 20px 0;
  text-align: left;
}
.blog__title-article a {
  color: #464646;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.blog__title-article a:hover {
  font-size: 20px;
  line-height: 1;
  color: #000;
  text-decoration: underline;
}
.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.blog__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69.1489361702%;
          flex: 0 1 69.1489361702%;
  margin: 0 0 30px 25px;
}
.blog__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.5531914894%;
          flex: 0 0 22.5531914894%;
  margin: 50px 25px 0;
}
.blog__right-title {
  position: relative;
  font-family: Bitter;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #252525;
}
.blog__right-title:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ea5a4b;
}
.blog__right-text {
  font-family: "arial";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #252525;
  padding: 30px 0 30px 0;
}
.blog__list {
  padding: 30px 0 30px 0;
}
.blog__list li a {
  font-family: "arial";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #252525;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blog__list li a:hover {
  text-decoration: underline;
  color: #000;
  font-weight: 700;
}
.blog__list li a span {
  font-family: "arial";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.blog__tab {
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  margin: 5px;
}
.blog__adv-icons {
  padding: 30px 0 0 0;
}
.blog__adv-icons a img {
  width: 45%;
  height: auto;
  margin: 0 4px 5px 0;
}

.blog__article {
  position: relative;
  padding: 0 0 35px 0;
}
.blog__article:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ea5a4b;
}
.blog__article:last-child:after {
  display: none;
}
.blog__foto-article {
  margin: 0 0 30px 0;
}
.blog__foto-article img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  text-align: left;
  object-fit: cover;
}
.blog__article-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__art-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: left;
}
.blog__date, .blog__tags, .blog__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Bitter;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #252525;
}
.blog__date span, .blog__tags span, .blog__comments span {
  font-family: "arial";
  font-size: 12px;
  color: #ea5a4b;
}
.blog__art-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  font-family: "arial";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #252525;
  text-align: justify;
}
.blog__video-article {
  margin: 0 0 30px 0;
  height: auto;
  width: 100%;
}
.blog__audio-article {
  width: 100%;
  margin: 0 0 30px 0;
}

@media (max-width: 550px) {
  .blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 69.1489361702%;
            flex: 0 1 69.1489361702%;
    margin: 0 20px 30px;
  }
  .blog__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.5531914894%;
            flex: 0 0 22.5531914894%;
    margin: 0px 15px 0;
  }
  .blog__article {
    position: relative;
    padding: 0 0 15px 0;
  }
  .blog__adv-icons {
    text-align: center;
  }
  .blog__adv-icons a img {
    width: 100px;
    height: auto;
    margin: 0 4px 20px 0;
  }
  .blog__list {
    text-align: center;
  }
  .blog__list li {
    padding-bottom: 5px;
  }
  .blog__article-buttom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__art-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .blog__art-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.contact {
  margin-top: -30px;
  margin-bottom: -35px;
  position: relative;
  z-index: 2;
}
.contact__column {
  background-color: #fff;
}
.contact__map {
  padding: 25px;
}
.contact__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px 30px;
}
.contact__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}
.contact__text {
  font-family: "arial";
  color: #252525;
  text-align: justify;
}
.contact__adress {
  font-family: "arial";
  font-weight: 400;
  color: #252525;
  margin: 20px 0;
}
.contact__adress span {
  font-weight: 500;
  color: #ea5a4b;
}
.contact__contacts {
  display: inline-block;
}
.contact__contacts a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "arial";
  color: #252525;
  padding-bottom: 5px;
}
.contact__contacts a:hover {
  font-weight: 700;
  color: #000;
  text-decoration: underline;
}
.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}
.contact__first-name, .contact__last-name, .contact__email, .contact__url {
  width: 48%;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #252525;
  padding-left: 15px;
}
.contact__first-name::-webkit-input-placeholder, .contact__last-name::-webkit-input-placeholder, .contact__email::-webkit-input-placeholder, .contact__url::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  font-family: "arial";
  line-height: 28px;
  font-weight: 700;
  color: #252525;
}
.contact__first-name::-moz-placeholder, .contact__last-name::-moz-placeholder, .contact__email::-moz-placeholder, .contact__url::-moz-placeholder, .contact__textarea::-moz-placeholder {
  font-family: "arial";
  line-height: 28px;
  font-weight: 700;
  color: #252525;
}
.contact__first-name:-ms-input-placeholder, .contact__last-name:-ms-input-placeholder, .contact__email:-ms-input-placeholder, .contact__url:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  font-family: "arial";
  line-height: 28px;
  font-weight: 700;
  color: #252525;
}
.contact__first-name::-ms-input-placeholder, .contact__last-name::-ms-input-placeholder, .contact__email::-ms-input-placeholder, .contact__url::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  font-family: "arial";
  line-height: 28px;
  font-weight: 700;
  color: #252525;
}
.contact__first-name::placeholder, .contact__last-name::placeholder, .contact__email::placeholder, .contact__url::placeholder, .contact__textarea::placeholder {
  font-family: "arial";
  line-height: 28px;
  font-weight: 700;
  color: #252525;
}
.contact__first-name:invalid, .contact__last-name:invalid, .contact__email:invalid, .contact__url:invalid {
  border: 2px solid red;
}
.contact__first-name:valid, .contact__last-name:valid, .contact__email:valid, .contact__url:valid {
  border: 2px solid blue;
}
.contact__last-name, .contact__url {
  margin: 0 0px 15px 0;
}
.contact__first-name, .contact__email {
  margin: 0 9px 15px 0;
}
.contact__textarea {
  width: 98%;
  height: 205px;
  background-color: #ffffff;
  border: 1px solid #252525;
  margin: 0 15px 15px 0;
  padding: 15px 0 0 15px;
  resize: vertical;
}
.contact__button {
  font-family: "arial";
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 67px;
  height: 31px;
  background-color: #ea5a4b;
}

@media (max-width: 550px) {
  .contact__form {
    text-align: center;
  }
  .contact__first-name, .contact__email {
    margin: 0 0px 15px 0;
  }
  .contact__map {
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__first-name, .contact__last-name, .contact__email, .contact__url {
    width: 100%;
  }
  .contact__textarea {
    width: 100%;
    margin: 0 0px 15px 0;
  }
}
@media (max-width: 400px) {
  .contact__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.portfolio {
  margin-top: -30px;
  margin-bottom: -35px;
  position: relative;
  z-index: 2;
}
.portfolio__column {
  background-color: #fff;
  padding: 25px 0 25px 25px;
}