.footer {
	position: relative;
	background: url("../img/jpg/footer.jpg") repeat;
	border-top: 10px solid #ea5a4b;
	z-index: 0;
	&__row {
		margin-top: 70px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
	}
	&__posts {
		flex: 0 1 260px;
		display: flex;
		flex-direction: column;
	}
	&__post a{
		font-family: Bitter;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		color: #adadad;
		border-bottom: 1px solid #3b3b3b;
		display: block;
		padding: 10px 0;
		transition: all 0.8s ease 0s;
	}
	&__post a:hover{
		font-size: 18px;
		color: #fff;
	}
	&__posts a:last-child{
		border-bottom: none;
	}
	&__title {
		font-family: "arial";
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
	}
	&__about {
		flex: 0 1 300px;
	}
	&__text {
		font-family: 'arial';
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		color: #adadad;
		text-align: justify;
	}
	&__media {
		flex: 0 1 270px;
	}
	&__links {
	}
	&__links a{
	}
	&__links a img{
		width: 30px;
		height: 31px;
		border-radius: 5px 8px 10px 8px;
		padding: 0 5px 5px 0;
	}
}

@media (max-width: 950px) {
	.footer {
		&__posts {
		margin-right: 20px;
		}
		&__about {
		margin-right: 20px;
		}
	}
}

@media (max-width: 650px) {
	.footer {
		&__posts {
		margin-right: 0px;
		}
		&__about {
		margin-right: 0px;
		}
		&__row {
			margin-top: 20px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__title {
			text-align: center;
			padding-top: 20px;
		}
		&__media {
		margin-bottom: 10px;
		}
	}
}