.swiper {
	background-color: #f9f9f9;
	position: relative;
	max-width: 1000px;
	// padding: 0px 10px;
	margin: 0px auto;
	// overflow: hidden;
	min-height: 100%;
	width: 100%;
	z-index: 3;
	&__block {
		position: absolute;
		display: block;
		top: 100px;
		left: 40px;
		width: 335px;
		z-index: 2;
	}
	&__title {
		display: inline-block;
		line-height: 43px;
		opacity: 0.74;
		background-color: #000000;
		font-family: Bitter;
		font-size: 24px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 3px;
		padding: 0 10px;
	}
}

.swiper-button-preRR {
	position: absolute;
	top: 165px;
	left: 0;
	background-color: #ea5a4b;
	width: 32px;
	height: 30px;
}
.swiper-button-nexTT {
	position: absolute;
	top: 165px;
	left: 40px;
	background-color: #ea5a4b;
	width: 32px;
	height: 30px;
}

.swiper-button-preRR span,
.swiper-button-nexTT span{
	position: relative;
}

.swiper-button-preRR span:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 13px;
	background-color: #fff;
	width: 2px;
	height: 15px;
	transform: rotate(45deg);
}
.swiper-button-nexTT span:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 16px;
	background-color: #fff;
	width: 2px;
	height: 15px;
	transform: rotate(-45deg);
}

.swiper-button-preRR span:after{
	content: '';
	position: absolute;
	top: 12px;
	left: 13px;
	background-color: #fff;
	width: 2px;
	height: 15px;
	transform: rotate(-45deg);
}
.swiper-button-nexTT span:after{
	content: '';
	position: absolute;
	top: 12px;
	left: 16px;
	background-color: #fff;
	width: 2px;
	height: 15px;
	transform: rotate(45deg);
}

.slider__block {
	position: absolute;
	height: 130px;
	width: 100%;
	bottom: -30px;
	left: 0;
	z-index: 2;
}

.slider__block img{
	height: 130px;
	width: 100%;
}

.image-slider {
	// min-width: 100%;
	&__wrapper {
	}
	&__slide {
	}
	&__image {
	}
	&__image img{
		object-fit: cover;
		width: 100%;
		height: auto;
		text-align: center;
		// width: 1020px;
		// height: 600px;
	}
}


.image-mini-slider {
	position: absolute;
	left: 5%;
	bottom: -5px;
	z-index: 8;
	width: 90%;
	&__wrapper {
	}
	&__slide {
		text-align: center;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
	}
	&__slide.swiper-slide-thumb-active {
		opacity: 1;
	}
	&__slide.swiper-slide-thumb-active img{
		border: 2px solid #d65548;
	}
	&__image {
		// margin: 0 auto;
		position: relative;
		cursor: pointer;
		max-width: 100%;
	}
	&__image img {
		object-fit: cover;
		width: 75px;
		height: 75px;
	}
}

@media (max-width: 850px) {
	.image-mini-slider {
		&__image img {
			max-width: 100%;
			max-height: 100%;
			width: 55px;
			height: 55px;
		}
	}
	.slider__block {
		height: 90px;
	}
	.slider__block img{
		height: 80px;
	}
}

@media (max-width: 620px) {
	.image-mini-slider {
		&__image img {
			max-width: 100%;
			max-height: 100%;
			width: 30px;
			height: 30px;
		}
	}
	.slider__block {
		height: 70px;
	}
	.slider__block img{
		height: 60px;
	}
}

@media (max-width: 800px) {
	.swiper {
		&__title {
			line-height: 35px;
			font-size: 18px;
		}
		&__block {
			top: 50px;
		}
	}
	.swiper-button-preRR {
		top: 125px;
	}
	.swiper-button-nexTT {
		top: 125px;
	}
}

@media (max-width: 600px) {
	.swiper {
		&__title {
			line-height: 30px;
			font-size: 16px;
		}
		&__block {
			top: 20px;
			width: 270px;
		}
	}
	.swiper-button-preRR {
		top: 105px;
	}
	.swiper-button-nexTT {
		top: 105px;
	}
}

@media (max-width: 460px) {
	.swiper {
		&__title {
			line-height: 20px;
			font-size: 14px;
		}
		&__block {
			top: 10px;
			left: 10px;
			width: 300px;
		}
	}
	.swiper-button-preRR {
		top: 45px;
	}
	.swiper-button-nexTT {
		top: 45px;
	}
}